<div class="row-fluid">
  <label>hue-rotate</label>
  <div id="hue-rotate" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>grayscale</label>
  <div id="grayscale" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>sepia</label>
  <div id="sepia" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>brightness</label>
  <div id="brightness" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>contrast</label>
  <div id="contrast" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>invert</label>
  <div id="invert" class="map-slider"></div>
</div>

<div class="row-fluid">
  <label>saturate</label>
  <div id="saturate" class="map-slider"></div>
</div>
<!--
<div class="row-fluid">
  <label>blur (really slow)</label>
  <div id="blur" class="map-slider"></div>
</div>
-->

<div id="filter-result" class="well"></div>
