@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.0/js/dojo/dijit/themes/claro/claro.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.0/js/esri/dijit/css/Popup.css");
@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css");
@import url("bootstrap/bootstrap.min.css");
/* line 4, ../sass/main.scss */
body {
  overflow-x: hidden;
}

/* line 7, ../sass/main.scss */
.navbar {
  margin-bottom: 0 !important;
}
/* line 9, ../sass/main.scss */
.navbar .navbar-inner {
  padding: 0 !important;
}
/* line 11, ../sass/main.scss */
.navbar .navbar-inner div {
  margin-left: 1em !important;
}

/* line 14, ../sass/main.scss */
.map-slider {
  width: 75%;
  margin: auto;
}

/* line 19, ../sass/main.scss */
#filter-result {
  margin-top: 1em;
  margin-right: 1em;
}
